/* Big Img */
@media (max-width: 1496px) {
  .HomeHero__BigImg {
    max-width: 980px;
  }
}
@media (max-width: 1494px) {
  .HomeHero__BigImg {
    max-width: 976px;
  }
}
@media (max-width: 1490px) {
  .HomeHero__BigImg {
    max-width: 972px;
  }
}
@media (max-width: 1484px) {
  .HomeHero__BigImg {
    max-width: 980px;
  }
}

@media (max-width: 1262px) {
  .MobileMenu__LinkContainer.active {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
    right: 0;
  }
}

@media (max-width: 768px) {
  .HomeHero__SmallImg {
    min-height: 238px;
  }
  .HomeHeroSection__Container {
    flex-direction: column;
  }
  .HomeHeroBig__Container {
    width: 100%;
  }
  .HomeHero__BigImg {
    object-fit: cover;
    max-width: 100%;
    aspect-ratio: 16/9;
  }
  .HomeHeroSection__Container.column {
    flex-direction: row;
    width: 100%;
  }
  .HomeHeroSmall__Container {
    width: 50%;
  }
}
@media (max-width: 720px) {
  .HomeHero__BigContent {
    top: 123px;
  }
  .HomeHeroSection__Container.column {
    flex-direction: column;
  }
  .HomeHeroSmall__Container {
    width: 100%;
  }
  .HomeHero__SmallImg {
    max-width: 100%;
  }
  .HomeHero__Content {
    max-width: 470px;
  }
  .HomeSecondary__AboutusContentContainer {
    padding-inline: 64px;
    max-width: 100%;
  }
  .HomeSecondary__AboutusBtnContainer {
    flex-direction: column;
  }
  .EventCard__Container {
    flex-direction: column;
    max-height: none;
    justify-content: center;
  }
  .EventCardImg {
    width: 100%;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 0;
  }
  .EventCard__Content {
    padding: 0px 36px 24px 28px;
  }

  .BigCardImgBg--h2 {
    padding: 16px 105px;
  }
}
@media (max-width: 663px) {
  .HomeHero__BigContent {
    max-width: 600px;
    top: 60px;
  }
}

@media (max-width: 535px) {
  .HomeHero__BigContent {
    top: 40px;
  }
  .HomeHero__Heading--h1 {
    font-size: var(--h2);
  }
  .HomeSecondarySection__ContainerColumn {
    width: 98%;
  }
  .ServicesTime__ContentContainer {
    flex-direction: column;
  }
  .Footer__ContentContainer {
    flex-direction: column;
    align-items: center;
    gap: 56px;
  }
}
@media (max-width:530px){
  .HomeHeroSmall__Container {
    max-height: 238px;
}
}
@media (max-width: 463px) {
  .HomeHero__Heading--h1 {
    font-size: var(--h3);
  }
  .ServicesTime__TimeWrapper {
    flex-direction: column;
    align-items: center;
  }
}
@media(max-width:426px){
  .HomeHero__BigContent {
    top:46px;
}
.HomeHero__BigContent{
  gap: 12px;
}
.HomeHero__Heading--h1 {
  font-size: var(--h4);
}
.HomeHero__Heading{
  font-size: var(--h5);
}
}
@media (max-width: 404px) {
  .HomeSecondarySection__Container {
    margin-top: 86px;
  }
  .HomeSecondary__AboutusContent {
    padding-top: 52px;
  }
  .ServicesTime__Container {
    padding-inline: 60px;
  }
  .ServicesTime--p {
    font-size: var(--bodytext);
  }
  .BibleVerse__Container {
    padding-top: 44px;
    padding-bottom: 55px;
  }
  .BigCardImgBg__Container {
    max-width: 300px;
  }
  .BigCardImgBg--h2 {
    padding: 16px 0px;
  }
  .EventCard__Container {
    max-width: 300px;
  }
}

@media(max-width:368px){
  .HomeHero__BigContent {
    top: 34px;
}
}
@media(max-width:354px){
  .HomeHero__BigContent {
    top: 24px;
    left: 34px;
}
}