.kanniyakumari {
  left: 37.18rem;
  bottom: 0;
}
.kollemcode {
  left: 33.5rem;
  bottom: 3.37rem;
}
.colachel {
  left: 35.5rem;
  bottom: 1rem;
}
.nagercoil {
  left: 36.56rem;
  bottom: 1rem;
}
.killiyoor {
  left: 35.31rem;
  bottom: 2.37rem;
}
.padmanadapuram {
  left: 36.25rem;
  bottom: 2.37rem;
}
.thiruvattar {
  left: 36.5rem;
  bottom: 3.37rem;
}
.vilavancode {
  left: 31.62rem;
  bottom: 3.37rem;
}

@media (max-width: 1258px) {
  .kanniyakumari {
    left: 594px;
    bottom: 0;
  }
  .kollemcode {
    left: 535px;
    bottom: 54px;
  }
  .colachel {
    left: 567px;
    bottom: 16px;
  }
  .nagercoil {
    left: 584px;
    bottom: 16px;
  }
  .killiyoor {
    left: 564px;
    bottom: 38px;
  }
  .padmanadapuram {
    left: 579px;
    bottom: 38px;
  }
  .thiruvattar {
    left: 583px;
    bottom: 54px;
  }
  .vilavancode {
    left: 505px;
    bottom: 54px;
  }
}
@media (max-width: 1254px) {
  .kanniyakumari {
    left: 592px;
    bottom: 0;
  }
  .kollemcode {
    left: 535px;
    bottom: 54px;
  }
  .colachel {
    left: 567px;
    bottom: 16px;
  }
  .nagercoil {
    left: 584px;
    bottom: 16px;
  }
  .killiyoor {
    left: 564px;
    bottom: 38px;
  }
  .padmanadapuram {
    left: 579px;
    bottom: 38px;
  }
  .thiruvattar {
    left: 583px;
    bottom: 54px;
  }
  .vilavancode {
    left: 505px;
    bottom: 54px;
  }
}
@media (max-width: 1246px) {
  .kanniyakumari {
    left: 586px;
    bottom: 0;
  }
  .kollemcode {
    left: 530px;
    bottom: 54px;
  }
  .colachel {
    left: 562px;
    bottom: 16px;
  }
  .nagercoil {
    left: 576px;
    bottom: 16px;
  }
  .killiyoor {
    left: 560px;
    bottom: 38px;
  }
  .padmanadapuram {
    left: 572px;
    bottom: 38px;
  }
  .thiruvattar {
    left: 574px;
    bottom: 54px;
  }
  .vilavancode {
    left: 502px;
    bottom: 54px;
  }
}
@media (max-width: 1228px) {
  .kanniyakumari {
    left: 577px;
  }
  .kollemcode {
    left: 530px;
  }
  .colachel {
    left: 552px;
  }
  .nagercoil {
    left: 568px;
  }
  .killiyoor {
    left: 552px;
  }
  .padmanadapuram {
    left: 565px;
  }
  .thiruvattar {
    left: 561px;
  }
  .vilavancode {
    left: 504px;
  }
}
@media (max-width: 1216px) {
  .kanniyakumari {
    left: 571px;
  }
  .kollemcode {
    left: 523px;
  }
  .colachel {
    left: 545px;
  }
  .nagercoil {
    left: 561px;
  }
  .killiyoor {
    left: 545px;
  }
  .padmanadapuram {
    left: 557px;
  }
  .thiruvattar {
    left: 554px;
  }
  .vilavancode {
    left: 493px;
  }
}
@media (max-width: 1204px) {
  .kanniyakumari {
    left: 566px;
  }
  .kollemcode {
    left: 516px;
  }
  .colachel {
    left: 540px;
  }
  .nagercoil {
    left: 556px;
  }
  .killiyoor {
    left: 539px;
  }
  .padmanadapuram {
    left: 553px;
  }
  .thiruvattar {
    left: 547px;
  }
  .vilavancode {
    left: 488px;
  }
}
@media (max-width: 1188px) {
  .kanniyakumari {
    left: 557px;
  }
  .kollemcode {
    left: 508px;
  }
  .colachel {
    left: 530px;
  }
  .nagercoil {
    left: 546px;
  }
  .killiyoor {
    left: 532px;
  }
  .padmanadapuram {
    left: 543px;
  }
  .thiruvattar {
    left: 539px;
  }
  .vilavancode {
    left: 480px;
  }
}
@media (max-width: 1162px) {
  .kanniyakumari {
    left: 546px;
  }
  .kollemcode {
    left: 500px;
  }
  .colachel {
    left: 516px;
  }
  .nagercoil {
    left: 534px;
  }
  .killiyoor {
    left: 518px;
  }
  .padmanadapuram {
    left: 530px;
  }
  .thiruvattar {
    left: 526px;
  }
  .vilavancode {
    left: 467px;
  }
}
@media (max-width: 1147px) {
  .kanniyakumari {
    left: 539px;
  }
  .kollemcode {
    left: 488px;
  }
  .colachel {
    left: 510px;
  }
  .nagercoil {
    left: 528px;
  }
  .killiyoor {
    left: 510px;
  }
  .padmanadapuram {
    left: 522px;
  }
  .thiruvattar {
    left: 518px;
  }
  .vilavancode {
    left: 463px;
  }
}
@media (max-width: 1124px) {
  .kanniyakumari {
    left: 526px;
  }
  .kollemcode {
    left: 478px;
  }
  .colachel {
    left: 496px;
  }
  .nagercoil {
    left: 514px;
  }
  .killiyoor {
    left: 498px;
  }
  .padmanadapuram {
    left: 510px;
  }
  .thiruvattar {
    left: 508px;
  }
  .vilavancode {
    left: 448px;
  }
}
@media (max-width: 1112px) {
  .kanniyakumari {
    left: 520px;
  }
  .kollemcode {
    left: 472px;
  }
  .colachel {
    left: 493px;
  }
  .nagercoil {
    left: 509px;
  }
  .killiyoor {
    left: 494px;
  }
  .padmanadapuram {
    left: 507px;
  }
  .thiruvattar {
    left: 502px;
  }
  .vilavancode {
    left: 438px;
  }
}
@media (max-width: 1084px) {
  .kanniyakumari {
    left: 506px;
  }
  .kollemcode {
    left: 460px;
  }
  .colachel {
    left: 478px;
  }
  .nagercoil {
    left: 495px;
  }
  .killiyoor {
    left: 482px;
  }
  .padmanadapuram {
    left: 494px;
  }
  .thiruvattar {
    left: 494px;
  }
  .vilavancode {
    left: 424px;
  }
}
@media (max-width: 1062px) {
  .kanniyakumari {
    left: 497px;
  }
  .kollemcode {
    left: 446px;
  }
  .colachel {
    left: 466px;
  }
  .nagercoil {
    left: 485px;
  }
  .killiyoor {
    left: 469px;
  }
  .padmanadapuram {
    left: 483px;
  }
  .thiruvattar {
    left: 483px;
  }
  .vilavancode {
    left: 417px;
  }
}
@media (max-width: 1049px) {
  .kanniyakumari {
    left: 485px;
  }
  .kollemcode {
    left: 434px;
  }
  .colachel {
    left: 456px;
  }
  .nagercoil {
    left: 473px;
  }
  .killiyoor {
    left: 457px;
  }
  .padmanadapuram {
    left: 470px;
  }
  .thiruvattar {
    left: 470px;
  }
  .vilavancode {
    left: 404px;
  }
}
@media (max-width: 1034px) {
  .kanniyakumari {
    left: 480px;
  }
  .kollemcode {
    left: 431px;
  }
  .colachel {
    left: 451px;
  }
  .nagercoil {
    left: 468px;
  }
  .killiyoor {
    left: 453px;
  }
  .padmanadapuram {
    left: 465px;
  }
  .thiruvattar {
    left: 465px;
  }
  .vilavancode {
    left: 396px;
  }
}
@media (max-width: 1024px) {
  .kanniyakumari {
    left: 480px;
  }
  .kollemcode {
    left: 424px;
  }
  .colachel {
    left: 456px;
    bottom: 16px;
  }
  .nagercoil {
    left: 474px;
    bottom: 16px;
  }
  .killiyoor {
    left: 452px;
    bottom: 38px;
  }
  .padmanadapuram {
    left: 467px;
    bottom: 38px;
  }
  .thiruvattar {
    left: 471px;
    bottom: 54px;
  }
  .vilavancode {
    left: 393px;
    bottom: 54px;
  }
}
@media (max-width: 1012px) {
  .kanniyakumari {
    left: 472px;
  }
  .kollemcode {
    left: 423px;
  }
  .colachel {
    left: 442px;
    bottom: 19px;
  }
  .nagercoil {
    left: 461px;
    bottom: 16px;
  }
  .killiyoor {
    left: 445px;
    bottom: 38px;
  }
  .padmanadapuram {
    left: 457px;
    bottom: 38px;
  }
  .thiruvattar {
    left: 459px;
    bottom: 54px;
  }
  .vilavancode {
    left: 392px;
    bottom: 54px;
  }
}
@media (max-width: 1008px) {
  .kanniyakumari {
    left: 466px;
  }
  .kollemcode {
    left: 417px;
  }
  .colachel {
    left: 435px;
  }
  .nagercoil {
    left: 452px;
  }
  .killiyoor {
    left: 438px;
  }
  .padmanadapuram {
    left: 451px;
  }
  .thiruvattar {
    left: 451px;
  }
  .vilavancode {
    left: 386px;
  }
}
@media (max-width: 986px) {
  .kanniyakumari {
    left: 460px;
  }
  .kollemcode {
    left: 409px;
  }
  .colachel {
    left: 428px;
  }
  .nagercoil {
    left: 445px;
  }
  .killiyoor {
    left: 432px;
  }
  .padmanadapuram {
    left: 444px;
  }
  .thiruvattar {
    left: 443px;
  }
  .vilavancode {
    left: 377px;
  }
}
@media (max-width: 972px) {
  .kanniyakumari {
    left: 452px;
  }
  .kollemcode {
    left: 402px;
  }
  .colachel {
    left: 421px;
  }
  .nagercoil {
    left: 440px;
  }
  .killiyoor {
    left: 426px;
  }
  .padmanadapuram {
    left: 438px;
  }
  .thiruvattar {
    left: 438px;
  }
  .vilavancode {
    left: 370px;
  }
}
@media (max-width: 948px) {
  .kanniyakumari {
    left: 440px;
  }
  .kollemcode {
    left: 389px;
  }
  .colachel {
    left: 410px;
  }
  .nagercoil {
    left: 427px;
  }
  .killiyoor {
    left: 414px;
  }
  .padmanadapuram {
    left: 427px;
  }
  .thiruvattar {
    left: 427px;
  }
  .vilavancode {
    left: 357px;
  }
}
@media (max-width: 924px) {
  .kanniyakumari {
    left: 428px;
  }
  .kollemcode {
    left: 376px;
  }
  .colachel {
    left: 398px;
  }
  .nagercoil {
    left: 414px;
  }
  .killiyoor {
    left: 403px;
  }
  .padmanadapuram {
    left: 416px;
  }
  .thiruvattar {
    left: 418px;
  }
  .vilavancode {
    left: 343px;
  }
}
@media (max-width: 905px) {
  .kanniyakumari {
    left: 419px;
  }
  .kollemcode {
    left: 367px;
  }
  .colachel {
    left: 388px;
  }
  .nagercoil {
    left: 405px;
  }
  .killiyoor {
    left: 391px;
  }
  .padmanadapuram {
    left: 406px;
  }
  .thiruvattar {
    left: 406px;
  }
  .vilavancode {
    left: 335px;
  }
}
@media (max-width: 891px) {
  .kanniyakumari {
    left: 412px;
  }
  .kollemcode {
    left: 362px;
  }
  .colachel {
    left: 382px;
  }
  .nagercoil {
    left: 405px;
  }
  .killiyoor {
    left: 391px;
  }
  .padmanadapuram {
    left: 406px;
  }
  .thiruvattar {
    left: 406px;
  }
  .vilavancode {
    left: 335px;
  }
}
@media (max-width: 848px) {
  .kanniyakumari {
    left: 392px;
  }
  .kollemcode {
    left: 347px;
  }
  .colachel {
    left: 362px;
  }
  .nagercoil {
    left: 382px;
  }
  .killiyoor {
    left: 366px;
  }
  .padmanadapuram {
    left: 380px;
  }
  .thiruvattar {
    left: 380px;
  }
  .vilavancode {
    left: 318px;
  }
}
@media (max-width: 829px) {
  .kanniyakumari {
    left: 382px;
  }
  .kollemcode {
    left: 334px;
  }
  .colachel {
    left: 350px;
  }
  .nagercoil {
    left: 371px;
  }
  .killiyoor {
    left: 355px;
  }
  .padmanadapuram {
    left: 368px;
  }
  .thiruvattar {
    left: 367px;
  }
  .vilavancode {
    left: 303px;
  }
}
@media (max-width: 812px) {
  .kanniyakumari {
    left: 372px;
  }
  .kollemcode {
    left: 323px;
  }
  .colachel {
    left: 341px;
  }
  .nagercoil {
    left: 359px;
  }
  .killiyoor {
    left: 345px;
  }
  .padmanadapuram {
    left: 356px;
  }
  .thiruvattar {
    left: 354px;
  }
  .vilavancode {
    left: 290px;
  }
}
@media (max-width: 789px) {
  .kanniyakumari {
    left: 360px;
  }
  .kollemcode {
    left: 312px;
  }
  .colachel {
    left: 331px;
  }
  .nagercoil {
    left: 349px;
  }
  .killiyoor {
    left: 335px;
  }
  .padmanadapuram {
    left: 347px;
  }
  .thiruvattar {
    left: 344px;
  }
  .vilavancode {
    left: 279px;
  }
}
@media (max-width: 769px) {
  .kanniyakumari {
    left: 353px;
  }
  .kollemcode {
    left: 299px;
  }
  .colachel {
    left: 328px;
  }
  .nagercoil {
    left: 346px;
  }
  .killiyoor {
    left: 328px;
  }
  .padmanadapuram {
    left: 342px;
  }
  .thiruvattar {
    left: 342px;
  }
  .vilavancode {
    left: 271px;
  }
}
@media (max-width: 745px) {
  .kanniyakumari {
    left: 341px;
  }
  .kollemcode {
    left: 292px;
  }
  .colachel {
    left: 311px;
  }
  .nagercoil {
    left: 329px;
  }
  .killiyoor {
    left: 314px;
  }
  .padmanadapuram {
    left: 327px;
  }
  .thiruvattar {
    left: 325px;
  }
  .vilavancode {
    left: 256px;
  }
}
@media (max-width: 716px) {
  .kanniyakumari {
    left: 328px;
  }
  .kollemcode {
    left: 279px;
  }
  .colachel {
    left: 297px;
  }
  .nagercoil {
    left: 318px;
  }
  .killiyoor {
    left: 299px;
  }
  .padmanadapuram {
    left: 315px;
  }
  .thiruvattar {
    left: 310px;
  }
  .vilavancode {
    left: 243px;
  }
}
@media (max-width: 699px) {
  .kanniyakumari {
    left: 316px;
  }
  .kollemcode {
    left: 272px;
  }
  .colachel {
    left: 288px;
  }
  .nagercoil {
    left: 306px;
  }
  .killiyoor {
    left: 292px;
  }
  .padmanadapuram {
    left: 307px;
  }
  .thiruvattar {
    left: 305px;
  }
  .vilavancode {
    left: 240px;
  }
}
@media (max-width: 679px) {
  .kanniyakumari {
    left: 308px;
  }
  .kollemcode {
    left: 262px;
  }
  .colachel {
    left: 278px;
  }
  .nagercoil {
    left: 296px;
  }
  .killiyoor {
    left: 283px;
  }
  .padmanadapuram {
    left: 296px;
  }
  .thiruvattar {
    left: 295px;
  }
  .vilavancode {
    left: 230px;
  }
}
@media (max-width: 650px) {
  .kanniyakumari {
    left: 294px;
  }
  .kollemcode {
    left: 252px;
  }
  .colachel {
    left: 267px;
  }
  .nagercoil {
    left: 284px;
  }
  .killiyoor {
    left: 272px;
  }
  .padmanadapuram {
    left: 286px;
  }
  .thiruvattar {
    left: 284px;
  }
  .vilavancode {
    left: 217px;
  }
}
@media (max-width: 629px) {
  .kanniyakumari {
    left: 283px;
  }
  .kollemcode {
    left: 237px;
  }
  .colachel {
    left: 256px;
  }
  .nagercoil {
    left: 271px;
  }
  .killiyoor {
    left: 262px;
  }
  .padmanadapuram {
    left: 272px;
  }
  .thiruvattar {
    left: 271px;
  }
  .vilavancode {
    left: 202px;
  }
}
@media (max-width: 609px) {
  .kanniyakumari {
    left: 275px;
  }
  .kollemcode {
    left: 226px;
  }
  .colachel {
    left: 248px;
  }
  .nagercoil {
    left: 263px;
  }
  .killiyoor {
    left: 253px;
  }
  .padmanadapuram {
    left: 265px;
  }
  .thiruvattar {
    left: 263px;
  }
  .vilavancode {
    left: 195px;
  }
}
@media (max-width: 589px) {
  .kanniyakumari {
    left: 264px;
  }
  .kollemcode {
    left: 219px;
  }
  .colachel {
    left: 240px;
  }
  .nagercoil {
    left: 254px;
  }
  .killiyoor {
    left: 244px;
  }
  .padmanadapuram {
    left: 257px;
  }
  .thiruvattar {
    left: 255px;
  }
  .vilavancode {
    left: 186px;
  }
}
@media (max-width: 569px) {
  .kanniyakumari {
    left: 253px;
  }
  .kollemcode {
    left: 209px;
  }
  .colachel {
    left: 230px;
  }
  .nagercoil {
    left: 243px;
  }
  .killiyoor {
    left: 233px;
  }
  .padmanadapuram {
    left: 245px;
  }
  .thiruvattar {
    left: 245px;
  }
  .vilavancode {
    left: 175px;
  }
}
@media (max-width: 539px) {
  .kanniyakumari {
    left: 239px;
  }
  .kollemcode {
    left: 199px;
  }
  .colachel {
    left: 218px;
  }
  .nagercoil {
    left: 230px;
  }
  .killiyoor {
    left: 222px;
  }
  .padmanadapuram {
    left: 234px;
  }
  .thiruvattar {
    left: 234px;
  }
  .vilavancode {
    left: 162px;
  }
}
@media (max-width: 510px) {
  .kanniyakumari {
    left: 224px;
  }
  .kollemcode {
    left: 186px;
  }
  .colachel {
    left: 205px;
  }
  .nagercoil {
    left: 218px;
  }
  .killiyoor {
    left: 208px;
  }
  .padmanadapuram {
    left: 220px;
  }
  .thiruvattar {
    left: 220px;
  }
  .vilavancode {
    left: 147px;
  }
}
@media (max-width: 479px) {
  .kanniyakumari {
    left: 207px;
  }
  .kollemcode {
    left: 172px;
  }
  .colachel {
    left: 190px;
    bottom: 12px;
  }
  .nagercoil {
    left: 201px;
  }
  .killiyoor {
    left: 193px;
  }
  .padmanadapuram {
    left: 206px;
  }
  .thiruvattar {
    left: 204px;
  }
  .vilavancode {
    left: 135px;
  }
}
@media (max-width: 445px) {
  .kanniyakumari {
    left: 197px;
  }
  .kollemcode {
    left: 162px;
  }
  .colachel {
    left: 180px;
  }
  .nagercoil {
    left: 194px;
  }
  .killiyoor {
    left: 181px;
  }
  .padmanadapuram {
    left: 193px;
  }
  .thiruvattar {
    left: 193px;
  }
  .vilavancode {
    left: 123px;
  }
}
@media (max-width: 426px) {
  .LocationMarker {
    width: 0.9em;
    height: 0.9em;
  }
  .LocationMarker svg {
    width: 100%;
  }
  .kanniyakumari {
    left: 195px;
    bottom: -4px;
  }
  .kollemcode {
    left: 164px;
    bottom: 31px;
  }
  .colachel {
    left: 181px;
    bottom: 2px;
  }
  .nagercoil {
    left: 189px;
    bottom: 4px;
  }
  .killiyoor {
    left: 178px;
    bottom: 15px;
  }
  .padmanadapuram {
    left: 188px;
    bottom: 16px;
  }
  .thiruvattar {
    left: 184px;
    bottom: 28px;
  }
  .vilavancode {
    left: 148px;
    bottom: 25px;
  }
}
@media (max-width: 421px) {
  .kanniyakumari {
    left: 192px;
  }
  .kollemcode {
    left: 160px;
  }
  .colachel {
    left: 178px;
  }
  .nagercoil {
    left: 185px;
  }
  .killiyoor {
    left: 174px;
  }
  .padmanadapuram {
    left: 182px;
  }
  .thiruvattar {
    left: 178px;
  }
  .vilavancode {
    left: 146px;
  }
}
@media (max-width: 414px) {
  .kanniyakumari {
    left: 189px;
  }
  .kollemcode {
    left: 158px;
  }
  .colachel {
    left: 175px;
  }
  .nagercoil {
    left: 182px;
  }
  .killiyoor {
    left: 171px;
  }
  .padmanadapuram {
    left: 179px;
  }
  .thiruvattar {
    left: 174px;
  }
  .vilavancode {
    left: 145px;
  }
}
@media (max-width: 394px) {
  .kanniyakumari {
    left: 179px;
  }
  .kollemcode {
    left: 153px;
    bottom: 28px;
  }
  .colachel {
    left: 166px;
    bottom: 3px;
  }
  .nagercoil {
    left: 173px;
    bottom: 3px;
  }
  .killiyoor {
    left: 165px;
    bottom: 15px;
  }
  .padmanadapuram {
    left: 173px;
    bottom: 14px;
  }
  .thiruvattar {
    left: 172px;
    bottom: 26px;
  }
  .vilavancode {
    left: 136px;
    bottom: 24px;
  }
}
@media (max-width: 376px) {
  .kanniyakumari {
    left: 170px;
  }
  .kollemcode {
    left: 143px;
    bottom: 28px;
  }
  .colachel {
    left: 158px;
    bottom: 3px;
  }
  .nagercoil {
    left: 165px;
    bottom: 3px;
  }
  .killiyoor {
    left: 158px;
    bottom: 15px;
  }
  .padmanadapuram {
    left: 166px;
    bottom: 14px;
  }
  .thiruvattar {
    left: 165px;
    bottom: 26px;
  }
  .vilavancode {
    left: 131px;
    bottom: 24px;
  }
}
@media (max-width: 369px) {
  .kanniyakumari {
    left: 166px;
  }
  .kollemcode {
    left: 139px;
    bottom: 26px;
  }
  .colachel {
    left: 151px;
    bottom: 3px;
  }
  .nagercoil {
    left: 159px;
    bottom: 3px;
  }
  .killiyoor {
    left: 151px;
    bottom: 15px;
  }
  .padmanadapuram {
    left: 159px;
    bottom: 14px;
  }
  .thiruvattar {
    left: 157px;
    bottom: 26px;
  }
  .vilavancode {
    left: 122px;
    bottom: 24px;
  }
}
@media (max-width: 349px) {
  .kanniyakumari {
    left: 157px;
  }
  .kollemcode {
    left: 131px;
    bottom: 26px;
  }
  .colachel {
    left: 143px;
    bottom: 3px;
  }
  .nagercoil {
    left: 151px;
    bottom: 3px;
  }
  .killiyoor {
    left: 144px;
    bottom: 15px;
  }
  .padmanadapuram {
    left: 152px;
    bottom: 14px;
  }
  .thiruvattar {
    left: 152px;
    bottom: 26px;
  }
  .vilavancode {
    left: 114px;
    bottom: 24px;
  }
}
@media (max-width: 330px) {
  .kanniyakumari {
    left: 149px;
  }
  .kollemcode {
    left: 124px;
    bottom: 24px;
  }
  .colachel {
    left: 135px;
    bottom: 3px;
  }
  .nagercoil {
    left: 143px;
    bottom: 3px;
  }
  .killiyoor {
    left: 137px;
    bottom: 15px;
  }
  .padmanadapuram {
    left: 144px;
    bottom: 14px;
  }
  .thiruvattar {
    left: 144px;
    bottom: 26px;
  }
  .vilavancode {
    left: 107px;
    bottom: 24px;
  }
}
@media (max-width: 326px) {
  .kanniyakumari {
    left: 147px;
  }
  .kollemcode {
    left: 123px;
    bottom: 24px;
  }
  .colachel {
    left: 132px;
    bottom: 3px;
  }
  .nagercoil {
    left: 142px;
    bottom: 3px;
  }
  .killiyoor {
    left: 135px;
    bottom: 15px;
  }
  .padmanadapuram {
    left: 144px;
    bottom: 14px;
  }
  .thiruvattar {
    left: 141px;
    bottom: 26px;
  }
  .vilavancode {
    left: 104px;
    bottom: 24px;
  }
}
@media (max-width: 323px) {
  .kanniyakumari {
    left: 146px;
    bottom: -4px;
  }
  .kollemcode {
    left: 122px;
    bottom: 20px;
  }
  .colachel {
    left: 133px;
    bottom: 2px;
  }
  .nagercoil {
    left: 139px;
    bottom: -2px;
  }
  .killiyoor {
    left: 134px;
    bottom: 10px;
  }
  .padmanadapuram {
    left: 143px;
    bottom: 8px;
  }
  .thiruvattar {
    left: 140px;
    bottom: 19px;
  }
  .vilavancode {
    left: 108px;
    bottom: 18px;
  }
}
