.kanniyakumari {
  left: 37.18rem;
  bottom: 0;
}
.kollemcode {
  left: 33.5rem;
  bottom: 3.37rem;
}
.colachel {
  left: 35.5rem;
  bottom: 1rem;
}
.nagercoil {
  left: 36.56rem;
  bottom: 1rem;
}
.killiyoor {
  left: 35.31rem;
  bottom: 2.37rem;
}
.padmanadapuram {
  left: 36.25rem;
  bottom: 2.37rem;
}
.thiruvattar {
  left: 36.5rem;
  bottom: 3.37rem;
}
.vilavancode {
  left: 31.62rem;
  bottom: 3.37rem;
}

@media (max-width: 1258px) {
  .kanniyakumari {
    left: 594px;
    bottom: 0;
  }
  .kollemcode {
    left: 535px;
    bottom: 54px;
  }
  .colachel {
    left: 567px;
    bottom: 16px;
  }
  .nagercoil {
    left: 584px;
    bottom: 16px;
  }
  .killiyoor {
    left: 564px;
    bottom: 38px;
  }
  .padmanadapuram {
    left: 579px;
    bottom: 38px;
  }
  .thiruvattar {
    left: 583px;
    bottom: 54px;
  }
  .vilavancode {
    left: 505px;
    bottom: 54px;
  }
}
@media (max-width: 1254px) {
  .kanniyakumari {
    left: 592px;
    bottom: 0;
  }
  .kollemcode {
    left: 535px;
    bottom: 54px;
  }
  .colachel {
    left: 567px;
    bottom: 16px;
  }
  .nagercoil {
    left: 584px;
    bottom: 16px;
  }
  .killiyoor {
    left: 564px;
    bottom: 38px;
  }
  .padmanadapuram {
    left: 579px;
    bottom: 38px;
  }
  .thiruvattar {
    left: 583px;
    bottom: 54px;
  }
  .vilavancode {
    left: 505px;
    bottom: 54px;
  }
}
@media (max-width: 1246px) {
  .kanniyakumari {
    left: 586px;
    bottom: 0;
  }
  .kollemcode {
    left: 530px;
    bottom: 54px;
  }
  .colachel {
    left: 562px;
    bottom: 16px;
  }
  .nagercoil {
    left: 576px;
    bottom: 16px;
  }
  .killiyoor {
    left: 560px;
    bottom: 38px;
  }
  .padmanadapuram {
    left: 572px;
    bottom: 38px;
  }
  .thiruvattar {
    left: 574px;
    bottom: 54px;
  }
  .vilavancode {
    left: 502px;
    bottom: 54px;
  }
}
@media (max-width: 1228px) {
  .kanniyakumari {
    left: 577px;
  }
  .kollemcode {
    left: 530px;
  }
  .colachel {
    left: 552px;
  }
  .nagercoil {
    left: 568px;
  }
  .killiyoor {
    left: 552px;
  }
  .padmanadapuram {
    left: 565px;
  }
  .thiruvattar {
    left: 561px;
  }
  .vilavancode {
    left: 504px;
  }
}
@media (max-width: 1216px) {
  .kanniyakumari {
    left: 571px;
  }
  .kollemcode {
    left: 523px;
  }
  .colachel {
    left: 545px;
  }
  .nagercoil {
    left: 561px;
  }
  .killiyoor {
    left: 545px;
  }
  .padmanadapuram {
    left: 557px;
  }
  .thiruvattar {
    left: 554px;
  }
  .vilavancode {
    left: 493px;
  }
}
@media (max-width: 1204px) {
  .kanniyakumari {
    left: 566px;
  }
  .kollemcode {
    left: 516px;
  }
  .colachel {
    left: 540px;
  }
  .nagercoil {
    left: 556px;
  }
  .killiyoor {
    left: 539px;
  }
  .padmanadapuram {
    left: 553px;
  }
  .thiruvattar {
    left: 547px;
  }
  .vilavancode {
    left: 488px;
  }
}
@media (max-width: 1188px) {
  .kanniyakumari {
    left: 557px;
  }
  .kollemcode {
    left: 508px;
  }
  .colachel {
    left: 530px;
  }
  .nagercoil {
    left: 546px;
  }
  .killiyoor {
    left: 532px;
  }
  .padmanadapuram {
    left: 543px;
  }
  .thiruvattar {
    left: 539px;
  }
  .vilavancode {
    left: 480px;
  }
}
@media (max-width: 1162px) {
  .kanniyakumari {
    left: 546px;
  }
  .kollemcode {
    left: 500px;
  }
  .colachel {
    left: 516px;
  }
  .nagercoil {
    left: 534px;
  }
  .killiyoor {
    left: 518px;
  }
  .padmanadapuram {
    left: 530px;
  }
  .thiruvattar {
    left: 526px;
  }
  .vilavancode {
    left: 467px;
  }
}
@media (max-width: 1147px) {
  .kanniyakumari {
    left: 539px;
  }
  .kollemcode {
    left: 488px;
  }
  .colachel {
    left: 510px;
  }
  .nagercoil {
    left: 528px;
  }
  .killiyoor {
    left: 510px;
  }
  .padmanadapuram {
    left: 522px;
  }
  .thiruvattar {
    left: 518px;
  }
  .vilavancode {
    left: 463px;
  }
}
@media (max-width: 1124px) {
  .kanniyakumari {
    left: 526px;
  }
  .kollemcode {
    left: 478px;
  }
  .colachel {
    left: 496px;
  }
  .nagercoil {
    left: 514px;
  }
  .killiyoor {
    left: 498px;
  }
  .padmanadapuram {
    left: 510px;
  }
  .thiruvattar {
    left: 508px;
  }
  .vilavancode {
    left: 448px;
  }
}
@media (max-width: 1112px) {
  .kanniyakumari {
    left: 520px;
  }
  .kollemcode {
    left: 472px;
  }
  .colachel {
    left: 493px;
  }
  .nagercoil {
    left: 509px;
  }
  .killiyoor {
    left: 494px;
  }
  .padmanadapuram {
    left: 507px;
  }
  .thiruvattar {
    left: 502px;
  }
  .vilavancode {
    left: 438px;
  }
}
@media (max-width: 1084px) {
  .kanniyakumari {
    left: 506px;
  }
  .kollemcode {
    left: 460px;
  }
  .colachel {
    left: 478px;
  }
  .nagercoil {
    left: 495px;
  }
  .killiyoor {
    left: 482px;
  }
  .padmanadapuram {
    left: 494px;
  }
  .thiruvattar {
    left: 494px;
  }
  .vilavancode {
    left: 424px;
  }
}
@media (max-width: 1062px) {
  .kanniyakumari {
    left: 497px;
  }
  .kollemcode {
    left: 446px;
  }
  .colachel {
    left: 466px;
  }
  .nagercoil {
    left: 485px;
  }
  .killiyoor {
    left: 469px;
  }
  .padmanadapuram {
    left: 483px;
  }
  .thiruvattar {
    left: 483px;
  }
  .vilavancode {
    left: 417px;
  }
}
@media (max-width: 1049px) {
  .kanniyakumari {
    left: 485px;
  }
  .kollemcode {
    left: 434px;
  }
  .colachel {
    left: 456px;
  }
  .nagercoil {
    left: 473px;
  }
  .killiyoor {
    left: 457px;
  }
  .padmanadapuram {
    left: 470px;
  }
  .thiruvattar {
    left: 470px;
  }
  .vilavancode {
    left: 404px;
  }
}
@media (max-width: 1034px) {
  .kanniyakumari {
    left: 480px;
  }
  .kollemcode {
    left: 431px;
  }
  .colachel {
    left: 451px;
  }
  .nagercoil {
    left: 468px;
  }
  .killiyoor {
    left: 453px;
  }
  .padmanadapuram {
    left: 465px;
  }
  .thiruvattar {
    left: 465px;
  }
  .vilavancode {
    left: 396px;
  }
}
@media (max-width: 1024px) {
  .kanniyakumari {
    left: 480px;
  }
  .kollemcode {
    left: 424px;
  }
  .colachel {
    left: 456px;
    bottom: 16px;
  }
  .nagercoil {
    left: 474px;
    bottom: 16px;
  }
  .killiyoor {
    left: 452px;
    bottom: 38px;
  }
  .padmanadapuram {
    left: 467px;
    bottom: 38px;
  }
  .thiruvattar {
    left: 471px;
    bottom: 54px;
  }
  .vilavancode {
    left: 393px;
    bottom: 54px;
  }
}
@media (max-width: 1012px) {
  .kanniyakumari {
    left: 472px;
  }
  .kollemcode {
    left: 423px;
  }
  .colachel {
    left: 442px;
    bottom: 19px;
  }
  .nagercoil {
    left: 461px;
    bottom: 16px;
  }
  .killiyoor {
    left: 445px;
    bottom: 38px;
  }
  .padmanadapuram {
    left: 457px;
    bottom: 38px;
  }
  .thiruvattar {
    left: 459px;
    bottom: 54px;
  }
  .vilavancode {
    left: 392px;
    bottom: 54px;
  }
}
@media (max-width: 1008px) {
  .kanniyakumari {
    left: 466px;
  }
  .kollemcode {
    left: 417px;
  }
  .colachel {
    left: 435px;
  }
  .nagercoil {
    left: 452px;
  }
  .killiyoor {
    left: 438px;
  }
  .padmanadapuram {
    left: 451px;
  }
  .thiruvattar {
    left: 451px;
  }
  .vilavancode {
    left: 386px;
  }
}
@media (max-width: 986px) {
  .kanniyakumari {
    left: 460px;
  }
  .kollemcode {
    left: 409px;
  }
  .colachel {
    left: 428px;
  }
  .nagercoil {
    left: 445px;
  }
  .killiyoor {
    left: 432px;
  }
  .padmanadapuram {
    left: 444px;
  }
  .thiruvattar {
    left: 443px;
  }
  .vilavancode {
    left: 377px;
  }
}
@media (max-width: 972px) {
  .kanniyakumari {
    left: 452px;
  }
  .kollemcode {
    left: 402px;
  }
  .colachel {
    left: 421px;
  }
  .nagercoil {
    left: 440px;
  }
  .killiyoor {
    left: 426px;
  }
  .padmanadapuram {
    left: 438px;
  }
  .thiruvattar {
    left: 438px;
  }
  .vilavancode {
    left: 370px;
  }
}
@media (max-width: 948px) {
  .kanniyakumari {
    left: 440px;
  }
  .kollemcode {
    left: 389px;
  }
  .colachel {
    left: 410px;
  }
  .nagercoil {
    left: 427px;
  }
  .killiyoor {
    left: 414px;
  }
  .padmanadapuram {
    left: 427px;
  }
  .thiruvattar {
    left: 427px;
  }
  .vilavancode {
    left: 357px;
  }
}
@media (max-width: 924px) {
  .kanniyakumari {
    left: 428px;
  }
  .kollemcode {
    left: 376px;
  }
  .colachel {
    left: 398px;
  }
  .nagercoil {
    left: 414px;
  }
  .killiyoor {
    left: 403px;
  }
  .padmanadapuram {
    left: 416px;
  }
  .thiruvattar {
    left: 418px;
  }
  .vilavancode {
    left: 343px;
  }
}
@media (max-width: 905px) {
  .kanniyakumari {
    left: 419px;
  }
  .kollemcode {
    left: 367px;
  }
  .colachel {
    left: 388px;
  }
  .nagercoil {
    left: 405px;
  }
  .killiyoor {
    left: 391px;
  }
  .padmanadapuram {
    left: 406px;
  }
  .thiruvattar {
    left: 406px;
  }
  .vilavancode {
    left: 335px;
  }
}
@media (max-width: 891px) {
  .kanniyakumari {
    left: 412px;
  }
  .kollemcode {
    left: 362px;
  }
  .colachel {
    left: 382px;
  }
  .nagercoil {
    left: 405px;
  }
  .killiyoor {
    left: 391px;
  }
  .padmanadapuram {
    left: 406px;
  }
  .thiruvattar {
    left: 406px;
  }
  .vilavancode {
    left: 335px;
  }
}
@media (max-width: 769px) {
  .kanniyakumari {
    left: 353px;
  }
  .kollemcode {
    left: 299px;
  }
  .colachel {
    left: 328px;
  }
  .nagercoil {
    left: 346px;
  }
  .killiyoor {
    left: 328px;
  }
  .padmanadapuram {
    left: 342px;
  }
  .thiruvattar {
    left: 342px;
  }
  .vilavancode {
    left: 271px;
  }
}
@media (max-width: 426px) {
  .LocationMarker {
    width: 0.9em;
    height: 0.9em;
  }
  .LocationMarker svg {
    width: 100%;
  }
  .kanniyakumari {
    left: 195px;
    bottom: -4px;
  }
  .kollemcode {
    left: 164px;
    bottom: 31px;
  }
  .colachel {
    left: 181px;
    bottom: 2px;
  }
  .nagercoil {
    left: 189px;
    bottom: 4px;
  }
  .killiyoor {
    left: 178px;
    bottom: 15px;
  }
  .padmanadapuram {
    left: 188px;
    bottom: 16px;
  }
  .thiruvattar {
    left: 184px;
    bottom: 28px;
  }
  .vilavancode {
    left: 148px;
    bottom: 25px;
  }
}
@media (max-width: 421px) {
  .kanniyakumari {
    left: 192px;
  }
  .kollemcode {
    left: 160px;
  }
  .colachel {
    left: 178px;
  }
  .nagercoil {
    left: 185px;
  }
  .killiyoor {
    left: 174px;
  }
  .padmanadapuram {
    left: 182px;
  }
  .thiruvattar {
    left: 178px;
  }
  .vilavancode {
    left: 146px;
  }
}
@media (max-width: 414px) {
  .kanniyakumari {
    left: 189px;
  }
  .kollemcode {
    left: 158px;
  }
  .colachel {
    left: 175px;
  }
  .nagercoil {
    left: 182px;
  }
  .killiyoor {
    left: 171px;
  }
  .padmanadapuram {
    left: 179px;
  }
  .thiruvattar {
    left: 174px;
  }
  .vilavancode {
    left: 145px;
  }
}
@media (max-width: 376px) {
  .kanniyakumari {
    left: 170px;
  }
  .kollemcode {
    left: 143px;
    bottom: 28px;
  }
  .colachel {
    left: 158px;
    bottom: 3px;
  }
  .nagercoil {
    left: 165px;
    bottom: 3px;
  }
  .killiyoor {
    left: 158px;
    bottom: 15px;
  }
  .padmanadapuram {
    left: 166px;
    bottom: 14px;
  }
  .thiruvattar {
    left: 165px;
    bottom: 26px;
  }
  .vilavancode {
    left: 131px;
    bottom: 24px;
  }
}
@media (max-width: 320px) {
  .kanniyakumari {
    left: 144px;
    bottom: -4px;
  }
  .kollemcode {
    left: 122px;
    bottom: 22px;
  }
  .colachel {
    left: 133px;
    bottom: 2px;
  }
  .nagercoil {
    left: 140px;
    bottom: 3px;
  }
  .killiyoor {
    left: 132px;
    bottom: 10px;
  }
  .padmanadapuram {
    left: 140px;
    bottom: 12px;
  }
  .thiruvattar {
    left: 136px;
    bottom: 19px;
  }
  .vilavancode {
    left: 114px;
    bottom: 18px;
  }
}
