@media (max-width: 1498px) {
  .ImgOverlay {
    min-height: 240px;
  }
}
@media (max-width: 1381px) {
  .Bg__Overlay {
    left: 200px;
  }
}
@media (max-width: 1361px) {
  .Bg__Overlay {
    left: 174px;
  }
}
@media (max-width: 1334px) {
  .Bg__Overlay {
    left: 156px;
  }
}
@media (max-width: 1317px) {
  .Bg__Overlay {
    left: 138px;
  }
}
@media (max-width: 1297px) {
  .Bg__Overlay {
    left: 120px;
  }
}

@media (max-width: 1262px) {
  .LogoNavBar__Container,
  .MenuNavBar__bg {
    display: none;
  }
  .MobileMenuBar__ContentContainer {
    display: block;
  }
  .HomeHero__BigImg {
    max-width: 789px;
  }
}
@media (max-width: 1242px) {
  .Bg__Overlay {
    left: 108px;
  }
}
@media (max-width: 1237px) {
  .GalleryImg__Container {
    justify-content: center;
  }
}
@media (max-width: 1232px) {
  .AboutUsCard {
    max-width: 910px;
    margin-inline: auto;
    width: 95%;
  }
  .AboutCardBig--img {
    max-width: 100%;
  }
  .AboutCardBig__Container {
    gap: 44px;
  }
  .AboutCardBig__ContentContainer {
    max-width: 912px;
  }
  .AboutCardSmall__Container {
    gap: 44px;
  }
  .AboutCardSmall--img {
    max-width: 100%;
  }
  .AboutCardSmall__ContentContainer {
    max-width: 912px;
  }
}
@media (max-width: 1229px) {
  .Bg__Overlay {
    left: 98px;
  }
}

@media (max-width: 1224px) {
  .Carousel__ContentContainer {
    justify-content: center;
  }
}

@media (max-width: 1172px) {
  .Bg__Overlay {
    left: 78px;
  }
}
@media (max-width: 1138px) {
  .Event__ContentContainer {
    flex-direction: column;
    align-items: center;
  }
  .Event__VrLine {
    display: none;
  }
}
@media (max-width: 1136px) {
  .Bg__Overlay {
    left: 48px;
  }
}
@media (max-width: 1108px) {
  .Bg__Overlay {
    left: 38px;
  }
}
@media (max-width: 1092px) {
  .Bg__Overlay {
    left: 28px;
  }
}
@media (max-width: 1072px) {
  .Bg__Overlay {
    left: 18px;
  }
}
@media (max-width: 1050px) {
  .Bg__Overlay {
    left: 10px;
  }
}
@media (max-width: 1037px) {
  .Bg__Overlay {
    left: 8px;
  }
}
@media (max-width: 1032px) {
  .Bg__Overlay {
    left: 6px;
  }
}

@media (max-width: 1026px) {
  .Bg__Overlay {
    left: 4px;
  }
}
@media (max-width: 1024px) {
  .Bg__Overlay {
    left: 2px;
  }
}
@media (max-width: 1021px) {
  .Bg__Overlay {
    left: 1px;
  }
}
@media (max-width: 1019px) {
  .Bg__Overlay {
    left: 0px;
    padding: 30px 34px;
  }
}
@media (max-width: 646px) {
  .SearchBar__Container {
    margin-top: 142px;
  }
  .Contact__InputContainer--input {
    padding: 18px 60px 18px 98px;
  }
}
@media (max-width: 610px) {
  .ContactPopUp__Container {
    padding: 0.62rem 1.25rem 4.87rem 3.25rem;
  }
}
@media (max-width: 594px) {
  .MissionVisionSection__Container {
    width: 95%;
    margin-inline: auto;
  }
  .CommonCard__Container {
    padding: 48px 98px;
    gap: 32px;
  }
}
@media (max-width: 568px) {
  .ImgOverlay {
    min-height: 132px;
  }
}
@media (max-width: 558px) {
  .ImgOverlay {
    min-height: 130px;
  }
}
@media (max-width: 539px) {
  .ImgOverlay {
    min-height: 125px;
  }
}
@media (max-width: 548px) {
  .Event__ContentContainer {
    justify-content: center;
  }
  .Calendar__Container {
    padding: 30px 20px;
  }
  .Calendar__DayContainer {
    padding: 0 22px 30px;
  }
}
@media (max-width: 545px) {
  .ImgOverlay {
    min-height: 126px;
  }
}
@media (max-width: 532px) {
  .Header__heading {
    font-size: var(--h2);
  }
  .ImgOverlay {
    min-height: 123px;
  }
}
@media (max-width: 530px) {
  .CommonCard__Container {
    padding: 48px 76px;
  }
}
@media (max-width: 520px) {
  .Ministries__Container,
  .CommissionSecondarySection__Container {
    margin-top: 148px;
  }
}
@media (max-width: 516px) {
  .Event__ContentContainer {
    margin-top: 162px;
  }
  .Calendar__Container {
    padding: 20px 2px;
  }
  .Calendar__DayContainer {
    padding: 0 10px 30px;
  }
  .Calendar__Day {
    padding: 18px;
  }
  .ImgOverlay {
    min-height: 120px;
  }
}
@media (max-width: 506px) {
  .CouncilMember__MarginTop {
    margin-top: 172px;
  }
}
@media (max-width: 502px) {
  .ImgOverlay {
    min-height: 116px;
  }
}
@media (max-width: 484px) {
  .ImgOverlay {
    min-height: 112px;
  }
}
@media (max-width: 470px) {
  .ImgOverlay {
    min-height: 108px;
  }
}

@media (max-width: 465px) {
  .CommonCard__Container {
    padding: 48px 74px;
  }
}
@media (max-width: 460px) {
  .Contact__InputContainer--icon {
    left: 28px;
  }
  .Contact__InputContainer--input {
    padding: 18px 60px 18px 66px;
  }
}
@media (max-width: 456px) {
  .ImgOverlay {
    min-height: 106px;
  }
}
@media (max-width: 448) {
  .ContactPopUp__Container {
    gap: 4.25rem;
  }
}
@media (max-width: 446px) {
  .SearchBar__Container {
    margin-top: 178px;
  }
  .Contact__InputContainer--input {
    padding: 18px 8px 18px 66px;
  }
}
@media (max-width: 446px) {
  .ImgOverlay {
    min-height: 103px;
  }
}
@media (max-width: 438px) {
  .Ministries__Container,
  .CommissionSecondarySection__Container {
    margin-top: 172px;
  }
}
@media (max-width: 430px) {
  .ImgOverlay {
    min-height: 103px;
  }
}
@media (max-width: 432px) {
  .CommonCard__Container {
    padding: 48px 54px;
  }
}
@media (max-width: 426px) {
  .ImgOverlay {
    min-height: 98px;
  }
  .AboutUsCard {
    margin-top: 210px;
  }
  .ContactPopUp__Container {
    padding: 0.62rem 1.25rem 2.87rem;
    gap: 3.25rem;
    max-width: 344px;
    left: 23px;
  }
  .ContactPopUp__Img {
    max-width: 7.5rem;
  }
  .ContactHover__Container{
flex-direction: column;
  }
}
@media (max-width: 420px) {
  .EventCalendarCard__Date-TimeContainer {
    flex-direction: column;
    gap: 6px;
  }
}
@media (max-width: 419px) {
  .Event__ContentContainer {
    margin-top: 232px;
  }
  .CommonCard__Container {
    padding: 48px 40px;
  }
}
@media (max-width: 415px) {
  .Calendar__Heading {
    font-size: var(--h5);
  }
  .Calendar__Day {
    font-size: var(--bodytext);
  }
  .Ministries__Container,
  .CommissionSecondarySection__Container {
    margin-top: 202px;
  }
}
@media (max-width: 414px) {
  .ImgOverlay {
    min-height: 94px;
  }
  .GalleryContent__Container {
    margin-top: 172px;
  }
}
@media (max-width: 402px) {
  .SearchBar__Container {
    margin-top: 240px;
  }
}
@media (max-width: 398px) {
  .Event__ContentContainer {
    margin-top: 194px;
  }
  .Calendar__DayContainer {
    padding: 0 10px 0;
  }
  .Calendar__Day {
    padding: 15px;
  }
}
@media (max-width: 392px) {
  .ImgOverlay {
    min-height: 90px;
  }
}
@media (max-width: 388px) {
  .CouncilMember__MarginTop {
    margin-top: 208px;
  }
}
@media (max-width: 376px) {
  .Contact__InputContainer--icon {
    left: 20px;
  }
  .Contact__InputContainer--input {
    padding: 18px 8px 18px 62px;
  }
  .ImgOverlay {
    min-height: 88px;
  }
  .Event__ContentContainer {
    margin-top: 238px;
  }
}
@media (max-width: 368px) {
  .ImgOverlay {
    min-height: 84px;
  }
}
@media (max-width: 356px) {
  .Calendar__Day {
    padding: 12px;
  }
}
@media (max-width: 352px) {
  .ImgOverlay {
    min-height: 80px;
  }
  .CouncilMember__MarginTop {
    margin-top: 246px;
  }
  .SearchBar__Container {
    margin-top: 282px;
  }
  .Contact__InputContainer--input {
    padding: 18px 8px 18px 51px;
  }
}
@media (max-width: 336px) {
  .ImgOverlay {
    min-height: 76px;
  }
  .Ministries__Container,
  .CommissionSecondarySection__Container {
    margin-top: 236px;
  }
  .GalleryContent__Container {
    margin-top: 198px;
  }
  .Contact__InputContainer--icon {
    left: 15px;
  }
  .Contact__InputContainer--input {
    padding: 18px 8px 18px 44px;
  }
  .AboutUsCard {
    margin-top: 242px;
  }
}
@media (max-width: 326px) {
  .ImgOverlay {
    min-height: 74px;
  }
  .CouncilMember__MarginTop {
    margin-top: 266px;
  }
}
