@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* Color */
  --DarkBrownColor: #1b0303;
  --WhiteColor: #fcfcfc;
  --BlackColor: #121212;
  --YellowColor: #eeee00;
  --RedColor: #ed1b24;
  --BlueColor: #000060;
  --StrokeColor: #d5d4df;

  /* Font Family */
  --headingFont: "Bebas Neue", serif;
  --normalFont: "Roboto", serif;

  /* Font Size */
  --h1: 40px;
  --h2: 36px;
  --h3: 32px;
  --h4: 24px;
  --h5: 20px;
  --h6: 16px;
  --nav: 14px;
  --bodytext: 12px;

  /* Font Weight */
  --regular: 400;
  --medium: 500;
  --semiBold: 600;
  --bold: 700;
  --black: 900;
}

/* Logo Navbar Component */
.LogoNavBar__Container {
  max-width: 1232px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  margin-block: 28px;
  align-items: center;
}

.Contact_container {
  display: flex;
  list-style: none;
  gap: 24px;
}

.LogoNavBar--a {
  text-decoration: none;
  color: var(--DarkBrownColor);
  display: flex;
  gap: 12px;
  font-family: var(--normalFont);
  font-size: var(--nav);
}

/* Menu NavBar Component */
.MenuNavBar__bg {
  background-color: var(--DarkBrownColor);
  padding-block: 20.5px;
}
.MenuNavBar__Container {
  display: flex;
  justify-content: space-between;
  max-width: 1232px;
  margin-inline: auto;
}

.MenuNavBar--a {
  text-decoration: none;
  color: var(--WhiteColor);
  font-family: var(--normalFont);
  font-size: var(--h6);
}

.MenuNavBar--a:hover,
.MenuNavBar--a.active {
  color: var(--YellowColor);
  font-weight: var(--bold);
}

/* Mobile Menu */
.MobileMenuBar__ContentContainer{
  position: relative;
  display: none;
}
.MobileMenuBar__LogoContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin-inline: auto;
}
.MobileMenu__LinkContainer{
  background-color: var(--DarkBrownColor);
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 999;
  padding: 24px 72px;
  right: 0;
  gap: 24px;
}
/* .MobileMenuNavBar--a{
  color: var(--DarkBrownColor);
}
.MobileMenuNavBar--a.active{
  color: var(--RedColor);
} */

/* Btn */

.HomeBtn {
  text-decoration: none;
  padding: 8px 20px;
  background-color: var(--DarkBrownColor);
  border-radius: 24px;
  color: var(--WhiteColor);
  max-width: 129px;
  text-align: center;
  font-family: var(--normalFont);
  font-size: var(--h6);
}
.HomeBtn:hover {
  color: var(--DarkBrownColor);
  background-color: var(--WhiteColor);
  border: 1px solid var(--DarkBrownColor);
}

.AboutBtn {
  text-decoration: none;
  padding: 10px 41.5px;
  background-color: var(--YellowColor);
  color: var(--BlackColor);
  text-align: center;
  font-family: var(--normalFont);
  font-size: var(--h6);
  min-width: 290px;
}

/* Home Hero Section */

/* Small Block Component */
.HomeHeroSmall__Container {
  position: relative;
  max-height: 290px;
  display: flex;
}

.HomeHero__SmallImg {
  max-width: 570px;
  max-height: 290px;
  width: 100%;
}

.HomeHero__Content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 333px;
  position: absolute;
  top: 60px;
  left: 48px;
}

.HomeHero__Heading {
  font-family: var(--headingFont);
  font-size: var(--h4);
  font-weight: 400;
  color: var(--WhiteColor);
}

/* Big Block Component */
.HomeHeroBig__Container {
  position: relative;
  max-height: 580px;
  display: flex;
  width: 62.5%;
}

.HomeHero__BigImg {
  max-width: 950px;
  max-height: 580px;
  object-fit: cover;
  aspect-ratio: 16 / 9.7;
}

.HomeHero__BigContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 679px;
  position: absolute;
  top: 182px;
  left: 64px;
}
.HomeHero__Heading--h1 {
  font-family: var(--headingFont);
  font-size: var(--h1);
  font-weight: 400;
  color: var(--WhiteColor);
}

/* Secondary Block */

.HomeSecondary__AboutusContainer {
  /* About us in Home page */
  border-left: 1px solid var(--BlackColor);
  border-right: 1px solid var(--BlackColor);
  border-top: 1px solid var(--BlackColor);
  max-width: 592px;
  display: flex;
  flex-direction: column;
  gap: 70px;
  color: var(--BlackColor);
}

.HomeSecondary__AboutusContent {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding-top: 80px;
  align-items: center;
}

.HomeSecondary__AboutusContent--h2 {
  font-family: var(--headingFont);
  font-size: var(--h2);
  font-weight: var(--regular);
}

.HomeSecondary__AboutusContentContainer {
  display: flex;
  flex-direction: column;
  gap: 48px;
  max-width: 378px;
}
.HomeSecondary__AboutusContent--p {
  font-family: var(--normalFont);
  font-size: var(--bodytext);
}

.HomeSecondary__AboutusBtnContainer {
  display: flex;
  gap: 12px;
  margin-left: -1px;
}

.ServicesTime__Container {
  background-color: var(--DarkBrownColor);
  padding-top: 70px;
  padding-bottom: 81px;
  padding-inline: 109px;
  max-width: 592px;
  color: var(--WhiteColor);
  border-radius: 24px;
  min-width: 592px;
}
.ServicesTime__Content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
}
.ServicesTime__Heading--h2 {
  font-family: var(--headingFont);
  font-size: var(--h3);
  font-weight: var(--regular);
}
.ServicesTime__ContentContainer {
  display: flex;
  gap: 36px;
  align-items: center;
}
.ServicesTime__Heading--h3 {
  font-family: var(--headingFont);
  font-size: var(--h5);
  font-weight: var(--regular);
}
.ServicesTime__TimeContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.ServicesTime__TimeWrapper {
  display: flex;
  gap: 20px;
}
.ServicesTime__Heading--h4 {
  font-family: var(--normalFont);
  font-size: var(--nav);
  font-weight: var(--bold);
}
.ServicesTime--p {
  font-family: var(--normalFont);
  font-size: var(--h6);
  color: var(--RedColor);
  font-weight: var(--regular);
}

.BibleVerse__Container {
  background-color: var(--DarkBrownColor);
  padding-top: 98px;
  padding-inline: 58px;
  padding-bottom: 112px;
  max-width: 592px;
  border-radius: 24px;
}
.BibleVerse__ContentContainer {
  display: flex;
  flex-direction: column;
  gap: 56px;
  max-width: 474px;
  color: var(--WhiteColor);
  justify-content: center;
}
.BibleVerse--h2 {
  font-family: var(--headingFont);
  font-size: var(--h3);
  font-weight: var(--regular);
  text-align: center;
}
.BibleVerse__Content {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.BibleVerse--h3 {
  font-family: var(--normalFont);
  font-size: var(--h6);
  font-weight: var(--bold);
}
.BibleVerse--h3__highlight {
  color: var(--YellowColor);
}
.BibleVerse__VerseContent {
  display: flex;
  flex-direction: column;
  gap: 44px;
}
.BibleVerse--p {
  font-family: var(--normalFont);
  font-size: var(--nav);
  font-weight: var(--regular);
}

/* Card Component */
/* Small card with Img and name */
.SmallCard__Container {
  display: flex;
  flex-direction: column;
  gap: 28px;
  max-width: 272px;
  text-decoration: none;
}
.SmallCardImg--img {
  border-radius: 24px;
  min-height: 270px;
}
.SmallCardImg--img.small {
  border-radius: 8px;
}
.SmallCard__ContentContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.SmallCard--h2,
.SmallCard--p {
  font-family: var(--normalFont);
  font-size: var(--h5);
  font-weight: var(--bold);
  color: var(--BlackColor);
}
.SmallCard--p {
  font-size: var(--bodytext);
  font-weight: var(--regular);
}

/* Big card with Img and name */
.BigCard__Container {
  display: flex;
  flex-direction: column;
  gap: 28px;
  max-width: 379px;
  text-decoration: none;
}
.BigCardImg--img {
  border-radius: 24px;
  min-height: 402px;
}
.BigCard__ContentContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.BigCard--h2,
.BigCard--p {
  font-family: var(--normalFont);
  font-size: var(--h5);
  font-weight: var(--bold);
  color: var(--BlackColor);
}
.BigCard--p {
  font-size: var(--bodytext);
  font-weight: var(--regular);
}

/* Small Card with BgColor */
.SmallCardImgBg__Container {
  display: flex;
  flex-direction: column;
  max-width: 272px;
  background-color: var(--DarkBrownColor);
  border-radius: 24px;
  text-decoration: none;
}
.SmallCardImgBg--img {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  min-height: 216px;
}
.SmallCardImgBg--h2 {
  padding: 18px 94px;
  text-align: center;
  color: var(--WhiteColor);
  font-family: var(--normalFont);
  font-size: var(--h5);
  font-weight: var(--bold);
}

/* Big card with BgColor */

.BigCardImgBg__Container {
  display: flex;
  flex-direction: column;
  max-width: 592px;
  background-color: var(--DarkBrownColor);
  border-radius: 24px;
  text-decoration: none;
}
.BigCardImgBg--img {
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  min-height: 246px;
  max-height: 246px;
}
.BigCardImgBg--h2 {
  padding: 16px 221px;
  text-align: center;
  color: var(--WhiteColor);
  font-family: var(--normalFont);
  font-size: var(--h5);
  font-weight: var(--bold);
}

/*  */
.AboutCardBig__Container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 171px;
  flex-wrap: wrap;
}
.AboutCardBig--img {
  max-width: 469px;
  min-height: 362px;
  border-radius: 24px;
}
.AboutCardBig__ContentContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 592px;
}
.AboutCardBig__Heading {
  font: var(--bold) var(--h1) var(--normalFont);
}
.AboutCardBig__DetailContainer {
  display: flex;
  flex-direction: column;
  gap: 52px;
}
.AboutCardBig--p {
  font: var(--regular) var(--bodytext) var(--normalFont);
}
.AboutCardBig__Span {
  font-weight: var(--bold);
}

/* About Small Card */
.AboutCardSmall__Container {
  display: flex;
  gap: 98px;
  justify-content: center;
  flex-wrap: wrap;
}
.AboutCardSmall--img {
  max-width: 485px;
  min-height: 354px;
  border-radius: 24px;
}
.AboutCardSmall__ContentContainer {
  display: flex;
  flex-direction: column;
  gap: 28px;
  max-width: 649px;
  justify-content: center;
}
.AboutCardSmall--p {
  font: var(--regular) var(--bodytext) var(--normalFont);
}

/* Common Card */
.CommonCard__Container {
  background-color: var(--DarkBrownColor);
  padding: 50px 140px;
  max-width: 592px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 52px;
  align-items: center;
}
.CommonCard--h3 {
  font: var(--regular) var(--h3) var(--headingFont);
}
.yellow {
  color: var(--YellowColor);
}
.red {
  color: var(--RedColor);
}
.CommonCard--ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: var(--WhiteColor);
}
.CommonCard--li {
  font: var(--regular) var(--h6) var(--normalFont);
}

/* Councils Card */
.CouncilCard__Container {
  display: flex;
  gap: 124px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.CouncilCard__Img {
  max-width: 379px;
  min-height: 379px;
  border-radius: 12px;
}
.CouncilCard__ContentContainer {
  max-width: 591px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.CouncilCard__NameContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 12px;
}
.Heading--h4 {
  font: var(--regular) var(--h4) var(--headingFont);
}
.CouncilCard--p {
  font: var(--regular) var(--bodytext) var(--normalFont);
}
/* Big Card for 4 grid */
.BigCard4grid__Container {
  display: flex;
  flex-direction: column;
  max-width: 378px;
  min-height: 236px;
  background-color: var(--DarkBrownColor);
  text-decoration: none;
}
.BigCard4grid--img {
  min-height: 180px;
}
.BigCard4grid--p {
  text-align: center;
  font: var(--bold) var(--nav) var(--normalFont);
  color: var(--WhiteColor);
  padding-block: 20px;
}
/* Small Card for 3 grid */
.SmallCard3grid__Container {
  display: flex;
  flex-direction: column;
  max-width: 272px;
  min-height: 284px;
  background-color: var(--DarkBrownColor);
  text-decoration: none;
}
.SmallCard3grid--img {
  min-height: 224px;
}
.SmallCard3grid--p {
  text-align: center;
  font: var(--regular) var(--h5) var(--normalFont);
  color: var(--WhiteColor);
  min-height: 82px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Event Card Component */
.EventCard__Container {
  display: flex;
  gap: 48px;
  align-items: center;
  background-color: var(--DarkBrownColor);
  border-radius: 24px;
  max-width: 592px;
  color: var(--WhiteColor);
  max-height: 133px;
}

.EventCardImg {
  border-top-left-radius: 24px;
  border-bottom-left-radius: 16px;
}

.EventCard__Content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 10px 40px 10px 0;
}

.EventCard__Heading {
  font-family: var(--normalFont);
  font-size: var(--h5);
  font-weight: var(--bold);
}

.EventCard__ContentDetail {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.EventCard__Time-Date {
  display: flex;
  gap: 12px;
}

.EventCard__Date,
.EventCard__Time {
  font-family: var(--normalFont);
  font-size: var(--bodytext);
  font-weight: var(--bold);
}

.EventCard__Time {
  font-weight: var(--medium);
}

.EventCard__ContentDescription {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.EventCard__Location {
  font-family: var(--normalFont);
  font-weight: var(--semiBold);
  color: var(--YellowColor);
  font-size: var(--bodytext);
}

.EventCard__Description {
  font-family: var(--normalFont);
  font-weight: var(--regular);
  font-size: var(--bodytext);
}

/* Footer Component */
.Footer__BgColor {
  background-color: var(--DarkBrownColor);
  margin-top: 124px;
  padding-top: 98px;
  color: var(--WhiteColor);
}
.Footer__Container {
  display: flex;
  flex-direction: column;
  gap: 98px;
}

.Footer__ContentContainer {
  display: flex;
  justify-content: center;
  gap: 279px;
  flex-wrap: wrap;
}
.FooterMenu__Container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.Footer--h3 {
  font: var(--bold) var(--h6) var(--normalFont);
}
.Footer--ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.Footer--Link {
  text-decoration: none;
  color: var(--WhiteColor);
  font: var(--regular) var(--h6) var(--normalFont);
}
.Footer__Social--ul {
  list-style: none;
  display: flex;
  gap: 24px;
}
.Footer__SocialContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.copyright--p {
  font: var(--regular) var(--bodytext) var(--normalFont);
  padding-block: 56px;
  text-align: center;
}

/* Calendar Component */
.Calendar__Container {
  max-width: 588px;
  padding: 30px;
  border: 1px solid var(--BlackColor);
  border-radius: 16px;
  background-color: white;
  text-align: center;
}
.Calendar__Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.Calendar__Heading {
  font: var(--black) var(--h4) var(--normalFont);
}
.Calendar__Btn {
  background-color: white;
  border: none;
  cursor: pointer;
}
.Calendar__DayContainer {
  padding: 0 30px 30px;
}
.Calendar__Days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font: var(--semiBold) var(--nav) var(--normalFont);
  margin-bottom: 5px;
}
.Calendar__Grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  /* border: 1px solid black; */
}

.Calendar__Day {
  padding: 20px;
  border: 1px solid var(--StrokeColor);
  background: none;
  cursor: pointer;
  font-size: 14px;
}

.Current__Month {
  color: var(--BlackColor);
}

.Other__Month {
  color: gray;
}

.today {
  border: 1px solid #45539d;
  color: #45539d;
}

.selected {
  background-color: #45539d;
  color: white;
}

/* Event Calendar Card */
.EventCalendarCard__Container {
  display: flex;
  gap: 48px;
}
.EventCalendarCard--Img {
  max-width: 165px;
  border-radius: 12px;
  min-height: 129px;
}
.EventCalendarCard__ContentContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.EventCalendarCard__ContentContainerHeading {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.EventCalendarCard--h2 {
  font: var(--bold) var(--h6) var(--normalFont);
  color: var(--BlackColor);
}
.EventCalendarCard__Date-TimeContainer {
  display: flex;
  gap: 12px;
}
.EventCalendarCard__DateContainer,
.EventCalendarCard__TimeContainer {
  display: flex;
  gap: 4px;
  color: var(--BlackColor);
  font: var(--regular) var(--bodytext) var(--normalFont);
}
.EventCalendarCard__DateContainer {
  color: var(--RedColor);
}
.EventCalendarCard__Place {
  font: var(--regular) var(--nav) var(--normalFont);
}
.EventCalendarCard__Description {
  font: var(--regular) var(--bodytext) var(--normalFont);
}
/* Event Calendar */
.EventCalendar__Container {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

/* Zones Component */
/* Zone Card Component */
.ZoneCard__Container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 272px;
}
.ZoneCard__Img {
  border-radius: 12px;
  min-height: 224px;
}
.ZoneCard__ContentContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.ZoneCard__HeadContentContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: var(--BlackColor);
}
.ZoneCard__Heading,
.ZoneCard__Title {
  font: var(--regular) var(--h5) var(--headingFont);
}
.ZoneCard__Title {
  font-size: var(--h6);
}
.ZoneCard__Contact {
  font: var(--regular) var(--bodytext) var(--normalFont);
}

/* Carousel Component */
.Carousel__Container {
  position: relative;
}
.arrow {
  position: absolute;
  top: 160px;
  background-color: var(--DarkBrownColor);
  border-radius: 50%;
  color: #d5d4df;
  width: 48px;
  height: 48px;
  border: 0;
}
.arrowLeft {
  left: 8px;
  rotate: -90deg;
}
.arrowRight {
  right: 8px;
  rotate: 90deg;
}
.Carousel__ContentContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 48px;
}
/* Heading and Carousel Component */
.HeadingCarousel__Container {
  display: flex;
  flex-direction: column;
  gap: 64px;
}
.HeadingCarousel__Heading {
  font: var(--regular) var(--h1) var(--headingFont);
}

/* Ministries Component */
/* Sub Ministries blog list */
.Subministry__Container {
  display: flex;
  gap: 48px;
  margin-top: 124px;
  flex-wrap: wrap;
  max-width: 1232px;
  margin-inline: auto;
}
.Blog__Description {
  max-width: 592px;
  display: flex;
  gap: 48px;
  align-items: center;
}
.Blog__Img {
  max-width: 165px;
  min-height: 165px;
}
.Blog__ContentContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: var(--BlackColor);
}
.Blog__ContentHeading {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.Blog--h2 {
  font: var(--regular) var(--h3) var(--headingFont);
}
.Blog--p {
  font: var(--regular) var(--bodytext) var(--normalFont);
}
.Blog__Btn {
  max-width: 109px;
  padding: 8px 16px;
  border: 0;
  border-radius: 8px;
  background-color: var(--BlueColor);
  color: var(--WhiteColor);
}
/* BlogPost */
.BlogPost__Container {
  max-width: 1232px;
  margin-inline: auto;
  margin-top: 124px;
  display: flex;
  flex-direction: column;
  gap: 86px;
}
.BlogPost__Heading {
  display: flex;
  flex-direction: column;
  gap: 44px;
}
.BlogPost__Img {
  max-width: 1232px;
  min-height: 450px;
  border-radius: 16px;
}
.BlogPost__Heading {
  font: var(--regular) var(--h1) var(--headingFont);
  text-align: center;
  color: var(--BlackColor);
}
.Blog__Content {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.Blog__Content--p {
  font: var(--regular) var(--bodytext) var(--normalFont);
  color: var(--BlackColor);
}
.Blog__Image {
  max-height: 350px;
  max-width: 650px;
  transform: translateX(50%);
}

/* Department Sub page component and Commission Sub page component*/
.Subdepartment__Container,
.Subcommission__Container {
  max-width: 1232px;
  margin-top: 124px;
  margin-inline: auto;
}
.Subdepartment__Description,
.Subcommission__Description {
  display: flex;
  gap: 48px;
}
.Subdepartment__Img,
.Subcommission__Img {
  max-width: 485px;
  max-height: 382px;
  border-radius: 24px;
}
.Subdepartment__ContentContainer,
.Subcommission__ContentContainer {
  display: flex;
  gap: 108px;
}
.SubDepartment__ContentHeading,
.SubCommission__ContentHeading {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.Member__Container {
  display: flex;
  gap: 48px;
  align-items: center;
}
.Member__img {
  max-width: 165px;
  min-height: 165px;
  border-radius: 12px;
}
.Member__detail {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.Member__Heading {
  font: var(--regular) var(--h4) var(--headingFont);
  color: var(--BlackColor);
}
.Member__Contact {
  font: var(--regular) var(--bodytext) var(--normalFont);
  color: var(--BlackColor);
  text-decoration: none;
  display: flex;
  gap: 8px;
  align-items: center;
}

/* Gallery Image Component */
.GalleryImg__Container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.GalleryImg-img {
  max-width: 272px;
  min-height: 252px;
}

/* Contact Component */
.Contact__InputContainer {
  position: relative;
  max-width: 485px;
}
.Contact__InputContainer--icon {
  position: absolute;
  left: 62px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--BlackColor);
}
.Contact__InputContainer--input {
  width: 100%;
  padding: 18px 132px 18px 98px;
  border-radius: 50px;
  border: 1px solid gray;
  outline: none;
}
/* Modal */
/* Pop up */
.ContactPopUp__Container {
  background-color: #494949;
  padding: 42px 52px 158px 116px;
  max-width: 594px;
  margin-inline: auto;
  border-radius: 12px;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 84px;
  align-items: end;
}
.ContactPopUp__ContentContainer {
  display: flex;
  gap: 32px;
  align-items: center;
  color: var(--WhiteColor);
}
.ContactPopUp__Img{
  border-radius: 12px;
  max-width: 200px;
}
.ContactPopUp__DetailContainer{
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.ContactPopUp__Heading{
font: var(--regular) var(--h4) var(--headingFont);
}
.ContactPopUp__LocationContainer{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.ContactPopUp__Location{
  font: var(--regular) var(--bodytext) var(--normalFont);
  color: var(--WhiteColor);
  text-decoration: none;
}
.ContactPopUp__Contact{
  font: var(--regular) var(--nav) var(--normalFont);
  color: var(--WhiteColor);
  text-decoration: none;
}
/* Map Component */
.Map__Container{
  margin-top: 132px;
  max-width: 1232px;
  margin-inline: auto;
  background-color: #D9D9D9;
  display: flex;
  justify-content: center;
  position: relative;
}

/* Location Marker Component */
.LocationMarker{
  position: absolute;
  display: flex;
  align-items: end;
}
/* Contact Hover Menu Component */
.ContactHover__Container{
  display: flex;
  gap: 36px;
  max-width: 292px;
  align-items: center;
  background-color: #383838;
  padding: 24px 32px;
  border-radius: 12px;
}
.ContactHover__Img{
max-width: 124px;
max-height: 94px;
border-radius: 8px;
}
.ContactHover__ContentContainer{
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 130px;
  color: var(--WhiteColor);
}
.ContactHover__Heading{
  font: var(--regular) var(--h6) var(--headingFont);
}
.ContactHover--p{
  font: var(--regular) var(--bodytext) var(--normalFont);
}



/* pages */
/* Home Page */

.HomeHeroSection__Container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.HomeHeroSection__Container.column {
  flex-direction: column;
  width: 37.5%;
}
.HomeSecondarySection__Container {
  display: flex;
  gap: 48px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 148px;
}
.HomeSecondarySection__ContainerColumn {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.HomeCommonSection__Container {
  display: flex;
  flex-direction: column;
  gap: 78px;
  margin-top: 148px;
}
.Home__Heading--h2 {
  text-align: center;
  font-family: var(--headingFont);
  font-size: var(--h2);
  font-weight: var(--regular);
}
.HomeCommonSection__ContentContainer {
  display: flex;
  gap: 48px;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1232px;
  margin-inline: auto;
}
.HomeFithSection__Container {
  display: flex;
  gap: 48px;
  max-width: 1232px;
  margin-inline: auto;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 148px;
}
.HomeFifthSection__CommonContainer {
  display: flex;
  flex-direction: column;
  gap: 78px;
}
.HomeCommonSection__FifthContentContainer {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

/* Header */
.Header__Container {
  position: relative;
}
.ImgOverlay__Container {
  position: relative;
  min-height: 353px;
}
.ImgOverlay {
  position: absolute;
  width: 100%;
  min-height: inherit;
  background-image: linear-gradient(
    to right,
    rgba(18, 18, 18, 1) 31%,
    rgba(18, 18, 18, 0)
  );
}
.Header__Img {
  width: 100%;
}
.Bg__Overlay {
  position: absolute;
  top: 134px;
  left: 211px;
  max-width: 1018px;
  min-height: 266px;
  padding: 34px 106px;
  background-color: var(--WhiteColor);
  border-bottom: 1px solid var(--BlackColor);
}
.Header__ContentContainer {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.Header__heading {
  font: var(--regular) var(--h1) var(--headingFont);
  color: var(--BlackColor);
}
.Header__ContentDetails {
  font: var(--regular) var(--bodytext) var(--normalFont);
  color: var(--BlackColor);
  display: flex;
  flex-direction: column;
  gap: 32px;
}
/* Common Heading Style */
.Heading--h2 {
  font-family: var(--headingFont);
  font-size: var(--h2);
  font-weight: var(--regular);
  text-align: center;
}

/* About us */
.AboutSection__Container {
  margin-top: 124px;
  display: flex;
  flex-direction: column;
  gap: 78px;
}
.AboutSection__ContentContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  justify-content: center;
}
.AboutUsCard {
  margin-top: 148px;
}
.MissionVisionSection__Container {
  display: flex;
  flex-wrap: wrap;
  gap: 78px;
  flex-direction: column;
  margin-top: 124px;
}
.MissionVisionSection__ContentContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  justify-content: center;
}

/* Ministries Page and Commission page*/
.Ministries__Container,
.CommissionSecondarySection__Container {
  display: flex;
  gap: 48px;
  max-width: 1232px;
  margin-inline: auto;
  margin-top: 124px;
}
.Ministry__ContentContainer,
.Commission__ContentContainer {
  max-width: 379px;
  background-color: var(--DarkBrownColor);
  cursor: pointer;
}
.Ministry__ContentContainer--img,
.Commission__ContentContainer--img {
  max-width: 379px;
  min-height: 180px;
}
.Ministry__ContentContainer--h2,
.Commission__ContentContainer--h2 {
  font: var(--bold) var(--nav) var(--normalFont);
  text-align: center;
  background-color: var(--black);
  color: var(--WhiteColor);
  padding: 20px;
}

/* Council Page */
.CouncilMember__MarginTop {
  margin-top: 124px;
}

.CouncilsSection__MemberContainer {
  margin-top: 124px;
  display: flex;
  gap: 48px;
  justify-content: center;
  flex-wrap: wrap;
}

.CouncilsSection__Container {
  margin-top: 124px;
  display: flex;
  flex-direction: column;
  gap: 78px;
  align-items: center;
}
.CouncilsSection__ContentContainer {
  display: flex;
  flex-direction: row;
  gap: 48px;
  flex-wrap: wrap;
  justify-content: center;
}

/* Event Page */
.Event__ContentContainer {
  margin-top: 124px;
  max-width: 1232px;
  margin-inline: auto;
  display: flex;
  gap: 82px;
}
.Calendar__EventContainer {
  display: flex;
  flex-direction: column;
  gap: 78px;
}
.EventCalendar__Section {
  display: flex;
  gap: 48px;
  flex-direction: column;
}
.Heading--h3 {
  font: var(--regular) var(--h3) var(--headingFont);
  color: var(--BlackColor);
}
.RightSide__column {
  display: flex;
  gap: 78px;
}
.vrLine {
  border-right: 1px solid var(--BlackColor);
  min-height: 100px;
}
.MainEvent__ContentContainer {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

/* Zones Page */
.ZonesContent__Container {
  max-width: 1232px;
  margin-inline: auto;
  margin-top: 124px;
  display: flex;
  flex-direction: column;
  gap: 132px;
  width: 98%;
}

/* Department Page */
.DepartmentSecondarySection__Container {
  display: flex;
  gap: 48px;
  max-width: 1232px;
  margin-inline: auto;
  margin-top: 124px;
  flex-wrap: wrap;
  flex-wrap: wrap;
}
.Department__ContentContainer {
  max-width: 272px;
  background-color: var(--DarkBrownColor);
  cursor: pointer;
}
.Department__ContentContainer--img {
  max-width: 272px;
  min-height: 224px;
}
.Department__ContentContainer--h2 {
  font: var(--regular) var(--h5) var(--normalFont);
  text-align: center;
  background-color: var(--black);
  color: var(--WhiteColor);
  padding: 18px 23px;
}

/* Gallery Page */
.GalleryContent__Container {
  max-width: 1232px;
  margin-inline: auto;
  margin-top: 124px;
}

/* Contact us Page */
.Contactus__Container {
  display: flex;
  gap: 24px;
  align-items: center;
}
.Contactus__ContentContainer {
  display: flex;
  gap: 16px;
  align-items: center;
  text-decoration: none;
  color: var(--BlueColor);
  font: var(--regular) var(--h6) var(--normalFont);
}

.SearchBar__Container {
  margin-top: 124px;
  max-width: 1232px;
  margin-inline: auto;
}
